<div>
    <h4 class="text-primary pt-3">
        Another Child Component
    </h4>
    <input id="name" @attributes="InputAttributes" placeholder="Childe
    Placeholder"/>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new();


}