@page "/learnblazor/demoproduct"
@using Tangy_Models.LearnBlazorModels
@using Empresa.LearnBlazorCompononents

<h3 class="border pt-2 mt-2">Demo Product</h3>

<div class="border p-2 mt-2" style="background-color: azure">
    <div class="row">
        @foreach (var product in _products)
        {
            <_ProductProps ProductProp="product" OnFavoriteUpdated="FavoriteCountUpdate"
                OnLastSelectedProductChange="SelectedProductUpdate"
                           />
        }
    </div>
</div>

@code {

    List<DemoProducts> _products = new();

    private int SelectedFavoriteCount { get; set; } = 0;

    public string LastSelectedProductName { get; set; }

    protected override void OnInitialized()
    {
        _products.Add(new()
        {
            IsActive = true,
            Id = 2,
            Name = "Blossom Lily",
            Price = 30,
            Properties = new()
            {
                new DemoProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new DemoProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new DemoProductProp { Id = 3, Key = "Color", Value = "White" }
            }
        });
        _products.Add(new()
        {
            IsActive = true,
            Id = 1,
            Name = "Midnight Blaze",
            Price = 200,
            Properties = new()
            {
                new DemoProductProp { Id = 1, Key = "Flavor", Value = "Rose" },
                new DemoProductProp { Id = 2, Key = "Size", Value = "20oz" },
                new DemoProductProp { Id = 3, Key = "Color", Value = "Purple" }
            }
        });
    }

    [Parameter]
    public EventCallback<string> OnLastSelectedProductChange { get; set; }

    protected void FavoriteCountUpdate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavoriteCount++;
        }
        else
        {
            SelectedFavoriteCount--;
        }
    }



    protected void LastSelectedProduct(string productName)
    {
        LastSelectedProductName = productName;
    }

}