@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>
<CascadingValue Value="@MessageForGrandChild" Name="message">
    <CascadingValue Value="LuckyNumber" Name="luckyNumber">
        <_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as a parameter
from Parent Component">
            <ChildContent>
                Render Fragment From Parent! WooHoo!
            </ChildContent>
            <DangerChildContent>
                Danger Content From Render Fragment! WooHoo!
            </DangerChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>
<p>
    <b>@MessageText</b>
</p>

<_AnotherChildComponent placeholder="placeholder from parent">

</_AnotherChildComponent>

@code {

    public string MessageForGrandChild { get; set; }
        = "This message is from your grand parent (ParentComponent)";

    public string LuckyNumber = "7";

    public string? MessageText { get; set; } = string.Empty;

    private void ShowMessage()
    {
        MessageText = "Tangy button clicked from child component";
    }

}