@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>
<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as a parameter
from Parent Component">
    <ChildContent>
        Render Fragment From Parent! WooHoo!
    </ChildContent>
    <DangerChildContent>
        Danger Content From Render Fragment! WooHoo!
    </DangerChildContent>
</_ChildComponent>

<p><b>@MessageText</b></p>

@code {
    public string? MessageText { get; set; } = string.Empty;

    private void ShowMessage()
    {
        MessageText = "Tangy button clicked from child component";
    }
}